h1{
    text-decoration: underline;
}

.first-div{
    border: 1px solid black;
    padding: 20px;
}

a{
    color: black;
}

h2{
    text-decoration: underline;
}

ol li{
    margin-bottom: 20px;
    background-color: rgb(94, 210, 94);
    border-left: 5px solid green;
    padding: 10px;
    list-style: none;
}
